canvas {
  border: 3px solid black;
  display: block;
  margin: 1em auto;
}

#flashlight {
  --Xpos: 500vw;
  --Ypos: 500vh;
}
#flashlight:before {
  content: "";
  display: block;
  width: 99%;
  height: 97%;
  position: absolute;
  background: radial-gradient(circle 9em at var(--Xpos) var(--Ypos), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
