<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOST</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f3f4f6;
      }
    </style>
  </head>
  <body>
    <div class="text-center">
      <h1 id="title" class="text-4xl font-bold mb-4">Moonwalker</h1>
      <h3 id="description" class="text-lg text-gray-700 mb-8">
        How did the master of the moon walk end up in this dark place and what's there to find? To escape, find the door and the key to unlock it.
      </h3>
      <a href="{{ url_for('game') }}" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded">Play</a>
      <table class="mt-8 mx-auto w-full max-w-lg">
        <caption class="text-lg font-bold mb-2">
          How to play
        </caption>
        <tr>
          <td class="py-4 pr-8">
            <!-- Added pr-8 for right padding -->
            <img src="static/arrow_keys.png" alt="arrow keys of a keyboard" class="h-12 mx-auto" />
          </td>
          <td class="py-4 pl-8">
            <!-- Added pl-8 for left padding -->
            <img src="static/spacebar.png" alt="spacebar of a keyboard" class="h-12 mx-auto" />
          </td>
        </tr>
        <tr>
          <td class="text-center">
            Use the arrow keys of your keyboard to navigate through the dark dungeon.(if you find it too hard, you can hold 'f')
          </td>
          <td class="text-center">
            Use the spacebar to shoot your arrow and kill the creature that may hurt you. (Keep in mind only one arrow can be shot at a time)
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
